<h2>Top Heroes</h2>
<div class="heroes-menu">
    <a *ngFor="let hero of heroes"
    routerLink="/detail/{{hero.id}}"> <!--The *ngFor repeater creates as many links as are in the component's heroes array.-->
    {{hero.name}}
  </a>
</div>

<app-hero-search></app-hero-search>


