.heroes 
	margin: 0 0 2em 0 
	list-style-type: none 
	padding: 0 
	width: 15em 
	li 
		position: relative 
		cursor: pointer 
		&:hover 
			left: .1em 
	a 
		color: #333 
		text-decoration: none 
		background-color: #EEE 
		margin: .5em 
		padding: .3em 0 
		height: 1.6em 
		border-radius: 4px 
		display: block 
		width: 100% 
		&:hover 
			color: #2c3a41 
			background-color: #e6e6e6 
		&:active 
			background-color: #525252 
			color: #fafafa 
	.badge 
		display: inline-block 
		font-size: small 
		color: white 
		padding: 0.8em 0.7em 0 0.7em 
		background-color: #405061 
		line-height: 1em 
		position: relative 
		left: -1px 
		top: -4px 
		height: 1.8em 
		min-width: 16px 
		text-align: right 
		margin-right: .8em 
		border-radius: 4px 0 0 4px 
input 
	display: block 
	width: 100% 
	padding: .5rem 
	margin: 1rem 0 
	box-sizing: border-box 
.add-button 
	padding: .5rem 1.5rem 
	font-size: 1rem 
	margin-bottom: 2rem 
	&:hover 
		color: white 
		background-color: #42545C 
button 
	&.delete 
		position: absolute 
		left: 210px 
		top: 5px 
		background-color: white 
		color: #525252 
		font-size: 1.1rem 
		margin: 0 
		padding: 1px 10px 3px 10px 
		&:hover 
			background-color: #525252 
			color: white 
